@model MVC_CRud.Models.StudentDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Studentname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fathername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fathername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mothername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mothername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StuID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
